################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Monitor/obj
/Monitor/bin/Debug
/Monitor/.vs
/Monitor.Tests/bin/Debug
/Monitor.Tests/obj/Debug
/Monitor/packages
